%span.preheader= @preheader || message.subject

%table.logo
  %tr
    %td.center-align
      = image_tag 'https://refsheet.net/assets/logos/RefsheetLogo_TypeTreatment.png'

%table.main
  %tr
    %td.wrapper
      %table{border: 0, cellpadding: 0, cellspacing: 0}
        %tr
          %td
            = yield

.footer
  %table{border: 0, cellpadding: 0, cellspacing: 0}
    %tr
      %td.content-block
        .apple-link{style: 'padding-bottom: 10px;'}
          Refsheet.net is made with love by Mau Abata, a big ol' nerd.

        - if @user
          .apple-link{style: 'padding-bottom: 10px;'}
            Not a fan of emails form us?
            = link_to 'Unsubscribe', unsubscribe_url(email: @user.email)

    - if @user
      %tr
        %td.content-block.powered-by
          This message intended for #{@user.email}
