.content
  .row
    .col.s6
      %h2
        = report_range_display


  .row
    .col.s12
      = line_chart @chart_data

  .row
    .col.s12
      %ul.stats
        %li
          .value= report_count User
          .label{ style: 'color: #1F94EE;' } Users

        %li
          .value= report_count Character
          .label{ style: 'color: #2BBBAD;' } Characters

        %li
          .value= report_count Image
          .label{ style: 'color: #364755;' } Images

        %li
          .value= report_count Feedback
          .label{ style: 'color: #C36F5E;' } Feedbacks

        %li
          .value= report_count Patreon::Pledge
          .label{ style: 'color: #EE251F;' } Pledges


:coffeescript
  $ ->
    $('.carousel').carousel()
