- options = { discrete: false }

.content
  .row
    .col.s12.m3
      = link_to url_for(start: (report_range.begin - 1.day).at_beginning_of_month.strftime('%Y-%m-%d')), class: 'btn' do
        = material_icon 'keyboard_arrow_left'

    .col.s12.m6.center-align
      %h2
        = title report_range_display

    .col.s12.m3.right-align
      = link_to url_for(start: (report_range.end + 1.second).strftime('%Y-%m-%d')), class: 'btn' do
        = material_icon 'keyboard_arrow_right'

  .row
    .col.s12
      %ul.stats
        %li
          .value= report_count User
          .label{ style: 'color: #1F94EE;' } Users

        %li
          .value= report_count Character
          .label{ style: 'color: #2BBBAD;' } Characters

        %li
          .value= report_count Image
          .label{ style: 'color: #364755;' } Images

        %li
          .value= report_count Feedback
          .label{ style: 'color: #C36F5E;' } Feedbacks

        %li
          .value= report_count Patreon::Pledge
          .label{ style: 'color: #EE251F;' } Pledges

        %li
          .value= report_count Ahoy::Visit, :started_at
          .label{ style: 'color: #666666;' } Visitors

  .row
    .col.s12
      = line_chart [{ name: 'Visitors', data: report_sum(report_group(Ahoy::Visit, :started_at).count), color: '#666666' }], options

  .row
    .col.s12
      = line_chart @main_chart_data, options

  .row
    .col.s12.m6
      = line_chart @left_chart_data, options

    .col.s12.m6
      = line_chart @right_chart_data, options

  - event_scope = Ahoy::Event.where(name: 'advertisement.impression').where.not('ahoy_events.visit_id' => nil)
  - click_scope = Ahoy::Event.where(name: 'advertisement.click').where.not('ahoy_events.visit_id' => nil)
  %ul.stats
    %li
      .value= report_count event_scope, :time
      .label{ style: 'color: #666666;' } Ad Impressions
    %li
      .value= event_scope.where(time: report_range).count('DISTINCT ahoy_events.visit_id')
      .label{ style: 'color: #666666;' } Audience Reached
    %li
      .value= report_count click_scope, :time
      .label Clicks

  .row
    .col.s12
      - impressions = { name: 'Ad Impressions', data: report_sum(report_group(event_scope, :time).count) }
      - clicks = { name: 'Ad Clicks', data: report_sum(report_group(click_scope, :time).count) }
      - audience = { name: 'Audience Reached', data: report_sum(report_group(event_scope, :time).count('DISTINCT ahoy_events.visit_id')) }
      = line_chart [impressions, clicks, audience], options