.content
  .row
    %ul.stats
      %li
        .value= User.count
        .label Users

      %li
        .value= Character.count
        .label Characters

      %li
        .value= Image.count
        .label Images

      %li
        .value= Feedback.count
        .label Feedbacks

      %li
        .value= Patreon::Pledge.count
        .label Pledges


:coffeescript
  $ ->
    $('.carousel').carousel()
