%ul#slide-out.side-nav.fixed
  %li
    = link_to root_path, class: 'brand-logo z-depth-1' do
      = image_tag 'logos/RefsheetLogo_64.png'
      .site-name Refsheet Admin

  = nav_link_to :dashboard, 'Dashboard', admin_root_path
  = nav_link_to :person, 'Users', admin_users_path
  = nav_link_to :face, 'Characters', admin_characters_path
  = nav_link_to :people, 'Artists', admin_artists_path
  = nav_link_to :collections, 'Images', admin_images_path
  = nav_link_to :messages, 'Forums', admin_forums_path

  %li
    .divider

  = nav_link_to :mail, 'Feedback', admin_feedbacks_path
  = nav_link_to :monetization_on, 'Pledges', admin_pledges_path
  = nav_link_to :report, 'Moderation', admin_moderation_reports_path

  %li
    .divider

  = nav_link_to :open_in_new, 'Advertising', admin_ads_path
  -#= nav_link_to :history, 'Changelog', admin_changelogs_path

:coffeescript
  $ ->
    $('.button-collapse').sideNav()
