= simple_form_for [:admin, @artist], url: admin_artist_path(@artist.slug) do |f|
  .card
    .card-content
      .row
        .col.m6
          = f.input :name
          = f.input :slug
        .col.m6
          = f.input :username
          = f.input :locked

      .row
        .col.s12
          = f.input :avatar

      .row
        .col.m6
          = f.input :website_url
        .col.m6
          = f.input :commission_url

      .row.no-margin
        .col.s12
          = f.input :profile

    .card-action.right-align
      = f.submit class: 'btn'