- title 'Feedback Requests'

%ul.tabs
  = nav_link_to nil, 'New', admin_feedbacks_path(done: false), tab: true, watch_params: [:done]
  = nav_link_to nil, 'Done', admin_feedbacks_path(done: true), tab: true, watch_params: [:done]
  = nav_link_to nil, 'All', admin_feedbacks_path, tab: true, watch_params: [:done]

.content
  = render partial: 'table', locals: { feedbacks: @feedbacks }

  .center
    = will_paginate @scope
