%h1 Orders
%table
  %tr
    %th ID
    %th Date
    %th Items
    %th.right-align Amount
    %th

  - @orders.each do |o|
    %tr
      %td= o.id
      %td= o.created_at
      %td= o.items.count
      %td.right-align= o.total.format
      %td.right-align
        = link_to 'Refund', '#', class: 'red-text text-darken-2'
