%h1 Buy
%table{style: 'width: auto;'}
  %tr
    %th ID
    %th Name
    %th Published
    %th Expires
    %th Sold
    %th.right-align Total
    %th

  - @listings.each do |i|
    %tr
      %td= i.id
      %td= i.title
      %td= i.published_at
      %td= i.expires_at
      %td= i.sold
      %td.right-align= i.amount.format
      %td.right-align
        - if i.in_cart? current_cart
          = link_to 'In Cart', '#', class: 'btn-flat'
        - else
          = link_to 'Buy', marketplace_test_cart_path(item_id: i.id), method: :post, class: 'btn'
