%h1 Buy
.row
  - @characters.for_sale.each do |c|
    .col.s6.m4.l3
      .card.image-card
        .card-image= image_tag c.profile_image.image.url(:thumbnail)
        .card-content
          .card-title= link_to c.name, user_character_path(c.user, c)
          %table
            %tr
              %td.padding--none
                %input.margin--none.green-text{disabled:true, value: c.marketplace_listing.amount.format}
              %td.padding--none
                - if c.marketplace_listing.user == current_user
                  = link_to 'Yours', '#', class: 'btn-flat'
                - elsif c.marketplace_listing.in_cart? current_cart
                  = link_to 'In Cart', '#', class: 'btn-flat green-text text-darken-2'
                - else
                  = link_to 'Buy', marketplace_test_cart_path(item_id: c.marketplace_listing.id), method: :post, class: 'btn'

%h2 All Marketplace Activity

%table{style: 'width: auto;'}
  %tr
    %th ID
    %th Name
    %th Published
    %th Expires
    %th Sold
    %th.right-align Total
    %th

  - @listings.each do |i|
    %tr
      %td= i.id
      %td= i.title
      %td= i.published_at
      %td= i.expires_at
      %td= i.sold
      %td.right-align= i.amount.format
      %td.right-align
        - if i.expired?
          = link_to 'Expired', '#', class: 'btn-flat'
        - elsif i.in_cart? current_cart
          = link_to 'In Cart', '#', class: 'btn-flat green-text text-darken-2'
        - else
          = link_to 'Buy', marketplace_test_cart_path(item_id: i.id), method: :post, class: 'btn'
