- title 'Edit Character'

.content
  = simple_form_for [:admin, @character], url: admin_character_path(@character.shortcode) do |f|
    .row
      .col.s12.m6
        = f.input :name

        .input-field
          .row
            .col.s6
              = f.input :hidden
            .col.s6
              = f.input :nsfw

        = f.input :version, collection: 1..2, class: 'browser-default'

      .col.s12.m6
        = f.input :slug
        = f.input :shortcode

    %h2 Traits

    .row
      .col.s12.m6
        = f.input :gender
        = f.input :height
        = f.input :body_type
        = f.input :personality

      .col.s12.m6
        = f.input :species
        = f.input :weight
        = f.input :special_notes

    %h2 Profile

    .row
      .col.s12
        = f.input :profile
    .row
      .col.s12.m6
        = f.input :likes

      .col.s12.m6
        = f.input :dislikes

    .row
      .col.s12
        = f.input :cover_image

    %h2 Save
    .input-field
      = text_area_tag :reason, nil, as: :text, class: 'materialize-textarea'
      = label_tag :reason, 'Please describe your changes.'

    = f.submit class: 'btn'

:coffeescript
  $(function() {
    Materialize.updateTextFields();
    $('select').formSelect();
  })
