= action_button :edit, edit_admin_character_path(@character.shortcode)

.content
  .row
    .col.s12.m4.l3
      = image_tag @character.profile_image.image.url(:medium_square), class: 'materialboxed responsive-img z-depth-1'
      %h1.caption= link_to title(@character.name), @character.path
      
      - if ! @character.paper_trail.live?
        .card-panel.red.white-text
          %strong Old Version!
          %p
            This is an old version of the record.
          %p
            = link_to "Revert to This Version", url_for({version: @character.version.index}), data: { method: 'PATCH', confirm: "You sure about that?" }

        = link_to "Current Version", url_for({}), class: 'btn'

      %ul.attributes
        %li
          .label User
          .value= link_to "@#{@character.user.username}", admin_user_path(@character.user.username)
        %li
          .label Slug
          .value= @character.slug.presence || 'unspecified'
        %li
          .label Shortcode
          .value= @character.shortcode.presence || 'unspecified'
        %li
          .label Created
          .value= @character.created_at.strftime('%d %b %Y').presence || 'unspecified'
        %li
          .label NSFW?
          .value= @character.nsfw? ? 'Yes' : 'No'
        %li
          .label Hidden?
          .value= @character.hidden? ? 'Yes' : 'No'

    .col.s12.m8.l9
      .card.margin--none
        %ul.tabs
          %li.tab= link_to 'Attributes', '#attributes', class: 'active'
          %li.tab= link_to 'Profile', '#profile'
          %li.tab= link_to 'Transfers', '#transfers'
          %li.tab= link_to 'Admin Changes', '#changelog'
          %li.tab= link_to 'Paper Trail', '#paper-trail'

        %section.card-content#attributes
          .row
            .col.s12.m6
              %ul.attributes.margin-top--none
                %li
                  .label Gender
                  .value= @character.gender.presence || 'unspecified'
                %li
                  .label Species
                  .value= @character.species.presence || 'unspecified'
                %li
                  .label Height
                  .value= @character.height.presence || 'unspecified'
                %li
                  .label Weight
                  .value= @character.weight.presence || 'unspecified'
                %li
                  .label Body Type
                  .value= @character.body_type.presence || 'unspecified'

            .col.s12.m6
              %ul.attributes.margin-top--none
                %li
                  .label Personality
                  .value= @character.personality.presence || 'unspecified'

                %li
                  .label Special Notes
                  .value= @character.special_notes.presence || 'unspecified'

        %section.card-content#profile
          .row
            .col.s12
              = linkify(@character.profile)
              - unless @character.profile.present?
                .caption No character profile set.

          .row
            .col.s12.m6
              %h2 Likes
              = linkify(@character.likes)
              - unless @character.likes.present?
                .caption No character likes set.

            .col.s12.m6
              %h2 Dislikes
              = linkify(@character.dislikes)
              - unless @character.dislikes.present?
                .caption No character dislikes set.

        %section.card-content#transfers
          - if @character.pending_transfer?
            = render partial: 'admin/transfers/summary', locals: { transfer: @character.pending_transfer }

          - else
            = simple_form_for @character, url: admin_character_path(@character.shortcode) do |f|
              .row
                .col.s12.m6
                  = f.input :transfer_to_user, hint: "Can be a username or email address."
                .col.s12.m6
                  = f.button :submit, 'Send Transfer', class: 'margin-top--medium'

        %section#changelog
          = render partial: 'admin/shared/changelog', locals: { changes: Changelog.for_character(@character).last(10).reverse}

        %section#paper-trail
          %table
            %tr
              %th #
              %th Who
              %th What
              %th Changes
              %th When
              
            - @character.versions.reverse.each do |version|
              %tr
                %td= link_to version.index, url_for({version: version.index})
                %td= version.whodunnit&.name
                %td= version.event 
                %td
                  = link_to version.object_changes&.keys&.count.to_s + ' changes', "#change-modal-#{version.index}", class: 'modal-trigger'
                  %div.modal{id: "change-modal-#{version.index}"}
                    %div.modal-content
                      %h4
                        Version #{version.index}
                        
                      %table
                        %tr
                          %th Field
                          %th From
                          %th To
                        - version.object_changes&.each do |field, changes|
                          %tr
                            %td= field
                            %td= changes[0]
                            %td= changes[1]
                            
                    %div.modal-footer
                      = link_to "Revert To This Version", url_for({version: version.index}), data: { confirm: "You sure about this?", method: "PATCH" }, class: 'btn-flat red-text'
                            
                %td= time_ago_in_words(version.created_at) + " ago"

      - if @character.cover_image.attached?
        .card
          .card-image
            = image_tag @character.cover_image.url(:small)
            .card-title
              Cover Image

:coffeescript
  $ ->
    $('.tabs').tabs()
