.content
  %h2= title 'Edit Ad Campaign'
  .card
    = simple_form_for @ad, url: admin_ad_path(@ad) do |f|
      .card-content
        .row.no-margin
          .col.s12.m6
            = f.input :title
          .col.s12.m6
            = f.input :image

        = f.input :link
        = f.input :caption

      .card-action.right-align
        = f.submit class: 'btn'
