- title 'Advertisement Campaigns'

.content
  = form_tag admin_ad_slots_path, class: 'right inline pill z-depth-1' do
    = number_field_tag :adjust_to, @slots.count, width: 3
    = button_tag '+/-', type: :submit, class: 'btn'

  %h2.margin-top--none Current Ad Rotation

  .row
    - @slots.each do |slot|
      .col.s6.m3
        .card{class: slot.active? ? '' : 'z-depth-0 grey-text' }
          .card-image
            - if slot.active?
              = image_tag slot.active_campaign.image.url(:large)
            - else
              = image_tag 'sandbox/RefsheetAdBanner2.png', style: 'filter: grayscale(100%); opacity: 0.5;'

            - if slot.reserved?
              = image_tag slot.reserved_campaign.image.url(:small), style: { position: 'absolute', top: 0, right: 0, maxWidth: '50%' }

          .card-content
            - next_ad = slot.active_campaign || slot.reserved_campaign

            %strong.truncate
              - if next_ad
                = next_ad.title
              - else
                (Inactive)

            .muted
              - if slot.last_impression_at
                Seen
                = time_ago_in_words slot.last_impression_at
                ago
              - else
                No Impressions

  .margin-top--large
    = link_to 'New', new_admin_ad_path, class: 'btn right'
    %h2.margin-top--none All Campaigns

  .card
    %table.bordered.responsive-table
      %thead
        %tr
          %th{width: 100}
          %th Title
          %th.right-align{width: 50} Slots
          %th.right-align{width: 100} Impressions
          %th.right-align{width: 100} Clicks
          %th.right-align{width: 100} CTR
          %th{width: 50}

      %tbody
        - @ads.each do |ad|
          %tr
            %td= image_tag ad.image.url(:small), class: 'resonpsive-img'
            %td
              %strong.caption= link_to ad.title, ad.link, target: '_blank'
              .ad-caption= ad.caption


            %td.right-align
              = (ad.slots_filled || 0).to_s + '/' + ad.slots_requested.to_s
              - if ad.active?
                (Active)
              - else
                = link_to 'Assign', admin_ad_path(ad, assign: true), method: :put

            %td.right-align= ad.total_impressions
            %td.right-align= ad.total_clicks
            %td.right-align= (ad.ctr * 100).to_s + '%'
            %td.right-align= link_to material_icon(:edit), edit_admin_ad_path(ad)
