- title "Moderation Report: #{@report.id}"

.content
  .row
    .col.s10
      %table
        %tr
          %th{align: 'left'} Report Type:
          %td{colspan:2}
            %h2= @report.violation_message
        %tr
          %th{align: 'left'} Comment:
          %td{colspan:2}
            - if @report.comment.present?
              = @report.comment
            - else
              %span.muted (No comment)
        %tr
          %th{align: 'left'} Content:
          %td{colspan:2}
            - case @report.moderatable_type
              - when "Image"
                - image = @report.moderatable
                = link_to image_tag(image.image.url(:small), alt: image.caption), admin_image_download_path(image.guid), target: :_blank
              - else
                = link_to "#{@report.moderatable_type}(#{@report.moderatable_id})", admin_moderation_report_path(@report.id)

        - if @report.user
          %tr
            %th{align: 'left'} Offending User:
            %td= link_to "#{@report.user.name} (@#{@report.user.username})", admin_user_path(@report.user.username)
            %td.right= link_to "(#{ModerationReport.where(user_id: @report.user.id).count} reported)", admin_moderation_reports_path(reported: @report.user.username)
        - if @report.sender
          %tr
            %th{align: 'left'} Reported By:
            %td= link_to "#{@report.sender.name} (@#{@report.sender.username})", admin_user_path(@report.sender.username)
            %td.right= link_to "(#{ModerationReport.where(sender_user_id: @report.sender.id).count} reports)", admin_moderation_reports_path(sender: @report.user.username)
        %tr
          %th{align: 'left'} #{ModerationReport.similar_to(@report).count} Other Reports:
          %td{colspan: 2}
            %ul
              - ModerationReport.similar_to(@report).each do |report|
                %li
                  = link_to "#{report.violation_string}", admin_moderation_report_path(report.id)
                  %span.right #{report.status}, #{time_ago_in_words report.created_at} ago

    .col.s2
      - if @report.pending?
        = link_to admin_moderation_report_path(@report.id, report_action: 'pass'),
                    method: :put,
                    class: 'btn waves-effect waves-light grey tooltipped btn-block margin-bottom--medium',
                    'data-tooltip': 'Pass' do
          PASS

        = link_to admin_moderation_report_path(@report.id, report_action: 'auto_resolve'),
                    method: :put,
                    class: 'btn waves-effect waves-light red right tooltipped btn-block margin-bottom--medium',
                    'data-tooltip': 'Auto Resolve' do
          AUTO

      - else
        = @report.status