#form-modal.modal
  = simple_form_for [:admin, forum] do |f|
    .modal-header
      %a.modal-close{href: '#'}
        = material_icon 'close'
      %h2= forum.persisted? ? 'Edit Forum' : 'New Forum'

    .modal-content
      .row
        .col.s12.m6= f.input :name
        .col.s12.m6= f.input :slug

      .row
        .col.s12= f.input :description

      .row.no-margin
        .col.s12.m4= f.input :locked
        .col.s12.m4= f.input :no_rp, label: 'No RP'
        .col.s12.m4= f.input :nsfw, label: 'NSFW'

    .modal-footer
      = f.submit class: 'btn waves-effect waves-light'
