- if forums.is_a? Hash
  - forums.each do |group, items|
    %h2.list-group-heading= group
    = render partial: 'table', locals: { forums: items }

- else
  %ul.collection
    - forums.each do |forum|
      %li.collection-item
        .title= link_to forum.name, admin_forum_path(forum.slug)
        .muted
          Joined:
          = forum.created_at.strftime('%d %b %Y')
          &bull;
          \/f/#{forum.slug}

- if forums.empty?
  .caption.center Nothing to show here...
