.card{data: { 'image-id': image.guid }, class: (image.nsfw.nil? ? 'flag-none' : image.nsfw? ? 'flag-nsfw' : 'flag-sfw') }
  .card-image
    = link_to image_tag(image.image.url(:thumbnail), alt: image.caption), admin_image_path(image.guid)

    - if image.nsfw.nil?
      .image-actions
        = link_to admin_image_path(image.guid, image: { nsfw: true }),
                  method: :put,
                  remote: true,
                  class: 'btn waves-effect waves-light red tooltipped',
                  'data-tooltip': 'Set NSFW' do
          NSFW

        = link_to admin_image_path(image.guid, image: { nsfw: false }),
                  method: :put,
                  remote: true,
                  class: 'btn waves-effect waves-light green right tooltipped',
                  'data-tooltip': 'Set SFW' do
          SFW

    - else
      .image-flags
        - if image.hidden?
          = material_icon 'visibility_off', title: 'Hidden'

        - if image.nsfw?
          = link_to admin_image_path(image.guid, image: { nsfw: false }), method: :put, remote: true, class: 'tooltipped', 'data-tooltip': 'Set SFW' do
            = material_icon 'remove_circle', title: 'NSFW'

        - else
          = link_to admin_image_path(image.guid, image: { nsfw: true }), method: :put, remote: true, class: 'tooltipped', 'data-tooltip': 'Set NSFW' do
            = material_icon 'remove_circle_outline', title: 'SFW'

  .card-content
    .truncate= link_to image.image_file_name, admin_image_path(image.guid)
    .muted.truncate
      #{ image.created_at.strftime('%d %b %Y') }

      - if image.character
        &bull; #{ link_to image.character.name, admin_character_path(image.character.shortcode) }
      - else
        %span.red &bull; No character!
