- title 'Edit Image'

.content
  = simple_form_for [:admin, @image], url: admin_image_path(@image.guid) do |f|
    .row
      .col.s12.m6
        = f.input :caption
        = f.association :character

        .input-field
          .row
            .col.s6
              = f.input :hidden
            .col.s6
              = f.input :nsfw

      .col.s12.m6
        = f.input :gravity, collection: %w(north east south west center)
        = f.input :source_url

    %h2 Save
    .input-field
      = text_area_tag :reason, nil, as: :text, class: 'materialize-textarea'
      = label_tag :reason, 'Please describe your changes.'

    = f.submit class: 'btn'

:javascript
  $(function() {
    Materialize.updateTextFields();
    $('select').formSelect();
  });
