= action_button :edit, edit_admin_image_path(@image.guid)

.content
  .row
    .col.s12.m4.l3
      = image_tag @image.image.url(:medium_square), class: 'materialboxed responsive-img z-depth-1'
      %h1.caption= title @image.image_file_name

      %ul.attributes
        %li
          .label User
          .value= link_to "@#{@image.user.username}", admin_user_path(@image.user.username)
        %li
          .label Character
          .value= @image.character.name
        %li
          .label GUID
          .value= @image.guid
        %li
          .label Created
          .value= @image.created_at.strftime('%d %b %Y').presence || 'unspecified'
        %li
          .label NSFW?
          .value= @image.nsfw? ? 'Yes' : 'No'
        %li
          .label Hidden?
          .value= @image.hidden? ? 'Yes' : 'No'

    .col.s12.m8.l9
      .card.margin--none
        %ul.tabs
          %li.tab= link_to 'Attributes', '#attributes', class: 'active'
          %li.tab= link_to 'Changes', '#changelog'

        %section.card-content#attributes
          .caption= @image.caption.presence || 'No Caption'

          .row
            .col.s12.m6
              %ul.attributes.margin-top--none
                %li
                  .label Artist ID
                  .value= @image.artist_id.presence || 'unspecified'
                %li
                  .label Source URL
                  .value= @image.source_url.presence || 'unspecified'
                %li
                  .label Row Order
                  .value= @image.row_order.presence || 'unspecified'
                %li
                  .label Gravity
                  .value= @image.gravity.presence || 'unspecified'

            .col.s12.m6
              %ul.attributes.margin-top--none
                %li
                  .label Image File Name
                  .value= @image.image_file_name.presence || 'unspecified'
                %li
                  .label File Size
                  .value= number_to_human_size(@image.image_file_size).presence || 'unspecified'
                %li
                  .label Gallery ID
                  .value= @image.gallery_id.presence || 'unspecified'

        %section#changelog
          .row
            .col.s12
              = render partial: 'admin/shared/changelog', locals: { changes: Changelog.for_image(@image).last(10).reverse }

:coffeescript
  $ ->
    $('.tabs').tabs()
