%ul.collection
  - users.each do |user|
    %li.collection-item.avatar
      = image_tag user.profile_image_url, class: 'circle', alt: user.name

      .title= link_to user.name, admin_user_path(user.username)
      .muted
        Joined:
        = user.created_at.strftime('%d %b %Y')
        &bull;
        @#{user.username}

      = link_to material_icon('edit'), edit_admin_user_path(user.username), class: 'secondary-content'
