= action_button :edit, edit_admin_user_path(@user.username)

.content
  .row
    .col.s12.m4.l3
      = image_tag @user.profile_image_url, class: 'materialboxed responsive-img z-depth-1'
      %h1.caption= title @user.name

      %ul.attributes
        %li
          .label Username
          .value= '@' + @user.username
        %li
          .label Email
          .value= mail_to @user.email
        %li
          .label Joined
          .value= @user.created_at.strftime('%d %b %Y')
        %li
          .label Last Seen
          .value
            - if @user.visits.empty?
              Never
            - else
              = @user.visits.last&.started_at&.strftime('%d %b %Y, %H:%I')
        %li
          .label Roles
          .value= @user.roles.collect { |r| r.name.humanize }.to_sentence

    .col.s12.m8.l9
      .card.margin--none
        %ul.tabs
          %li.tab= link_to 'Profile', '#profile', class: 'active'
          %li.tab= link_to 'Characters', '#characters'
          %li.tab= link_to 'Changes', '#changes'

        %section.card-content#profile
          = linkify(@user.profile)
          - unless @user.profile.present?
            .caption No user profile set.

        %section#characters
          = render partial: 'admin/characters/table', locals: { characters: @user.characters }

        %section#changes
          = render partial: 'admin/shared/changelog', locals: { changes: Changelog.for_user(@user).last(10).reverse }

:coffeescript
  $ ->
    $('.tabs').tabs()
