#rootApp
  .navbar-fixed.user-bar
    %nav.teal.darken-4
      .container
        %a.logo.left{:href => "/"}
          %img{:alt => "Refsheet.net", :height => "32", :src => "/assets/logos/RefsheetLogo_White_64.png", :width => "32"}/
        %ul.site-nav.visible-on-med-and-up
          %li
            %a{:href => "/marketplace"} Buy
          %li
            %a{:href => "/marketplace/sell"} Sell
          %li
            %a{:href => "/marketplace/cart"}
              Cart
              - if current_cart.items.count > 0
                (#{current_cart.items.count})
          %li= link_to 'Orders', '/marketplace/orders'
          %li= link_to 'Sales', '/marketplace/sales'
          %li= link_to 'Setup', '/marketplace/setup'

  - flash.each do |k, v|
    = toast k, v

  %main.padding-top--large
    .container
      = yield
