<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <script>
    window.Refsheet = {
      environment: "<%= j Rails.env %>",
      version: "<%= j Refsheet::VERSION %>",
      sentryDsn: "<%= j ENV['SENTRY_JS_DSN'] %>",
      instance: {
        id: "<%= j ENV['EB_ENV_ID'] %>",
        name: "<%= j ENV['EB_ENV_NAME']%>"
      }
    }
  </script>

  <%= display_meta_tags site: 'Refsheet.net' %>
  <%= csrf_meta_tags %>
  <%= render 'favicon' %>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="GNU Sir Terry Pratchett" http-equiv="X-Clacks-Overhead"/>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', rel: 'preload', as: 'style', media: 'all', onload: 'this.onload=null; this.rel="stylesheet"' %>
  <% #= javascript_include_tag 'https://js.stripe.com/v2/' %>
  
  <%- unless ENV['FEAT_GOOGLE_ADS'] == "off" || Rails.env.test? %>
    <script type="text/javascript">
      window.initializeAds = function() {
        if (window.adsbygoogle) {
          [].forEach.call(document.getElementsByClassName('adsbygoogle'), function (el) {
            if (el.dataset.adsbygoogleStatus !== "done") {
              try {
                var result = window.adsbygoogle.push({});
              } catch(e) {
                console.warn(e);
              }
            }
          });
        } else {
          // console.warn("Adsbygoogle is not available yet?");
        }
      }
    </script>
    <script data-ad-client="<%= ENV.fetch("GOOGLE_AD_CLIENT", "ca-pub-4929509110499022") %>" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onload="window.initializeAds()"></script>
  <% end %>
</head>

<body>
  <%= render 'body' %>

  <div class="version" style="display: none;">
    <%= Refsheet::VERSION %>
  </div>
</body>
</html>
