!!!
%html
  %head
    = display_meta_tags site: 'Refsheet.net'
    = csrf_meta_tags
    = render 'favicon'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{'http-equiv' => "X-Clacks-Overhead", content: "GNU Sir Terry Pratchett"}

  %body{class: [yield(:body_class), params[:controller].gsub(/[^a-z]+/, ' ')].join(' ')}
    - if Rails.env.test?
      :css
        * {
          transition-property: none !important;
          transform: none !important;
          animation: none !important;
        }

      :javascript
        $.fx.off = true;

    = render 'body'
