!!!
%html
  %head
    :javascript
      window.Refsheet = {
        environment: "#{ j Rails.env }",
        version: "#{ j Refsheet::VERSION }",
        sentryDsn: "#{ j ENV['SENTRY_JS_DSN'] }",
        instance: {
          id: "#{ j ENV['EB_ENV_ID'] }",
          name: "#{ j ENV['EB_ENV_NAME'] }"
        }
      }

    = display_meta_tags site: 'Refsheet.net'
    = csrf_meta_tags
    = render 'favicon'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = javascript_pack_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'

    -#= javascript_include_tag 'https://js.stripe.com/v2/'
    %meta{'http-equiv' => 'X-Clacks-Overhead', content: 'GNU Sir Terry Pratchett'}


  %body{class: [yield(:body_class), params[:controller].gsub(/[^a-z]+/, ' ')].join(' ')}
    = render 'body'
    .version{style: 'display: none;'}= Refsheet::VERSION
